<%= form_with(model: phone, local: true) do |form| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
        <% phone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cc, "CC" %>
    <%= form.text_field :cc %>
  </div>

  <div class="field">
    <%= form.label :area, "Area" %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :prefix, "Prefix" %>
    <%= form.text_field :prefix %>
  </div>

  <div class="field">
    <%= form.label :number, "Number" %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :locn, "Location" %>
    <%= form.text_field :locn %>
  </div>

  <div class="field">
    <%= form.label :preferred, "Preferred" %>
    <%= form.text_field :preferred %>
  </div>

  <div class="field">
    <%= form.label :txt_capable, "Msg Capable" %>
    <%= form.text_field :txt_capable %>
  </div>

  <div class="field">
    <%= form.label :note, "Note" %>
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
