<p id="notice"><%= notice %></p>

<h1>Phones</h1>

<table class='table table-sm table-bordered table-hover'>
  <thead class='thead-light'>
    <tr>
      <th>Person</th>
      <th>Ccountry Code</th>
      <th>Phone</th>
      <th>Type</th>
      <th>Preferred</th>
      <th>Msg Capable</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= phone.person.fullname %></td>
        <td><%= phone.cc %></td>
        <td><%= phone.ph_number %></td>
        <td><%= phone.phone_type %></td>
        <td><%= phone.preferred %></td>
        <td><%= phone.txt_capable %></td>
        <td><%= phone.note %></td>
        <td><%= link_to 'Show', phone %></td>
        <td><%= link_to 'Edit', edit_phone_path(phone) %></td>
        <td><%= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>

<br>

<%= link_to 'New Phone', new_phone_path %>
