<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @phone.person.fullname %>
</p>

<p>
  <strong>CC:</strong>
  <%= @phone.cc %>
</p>

<p>
  <strong>Area:</strong>
  <%= @phone.area %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @phone.prefix %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @phone.locn %>
</p>

<p>
  <strong>Preferred:</strong>
  <%= @phone.preferred %>
</p>

<p>
  <strong>Msg Capable:</strong>
  <%= @phone.txt_capable %>
</p>
<p>
  <strong>Note:</strong>
  <%= @phone.note %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
