<h1>Phone Detail</h1>

<% presenter = Shared::Presenters.new(@phone) %>

<%= presenter.notice(notice) %>

<%= presenter.show(:person_name, 'Person') %>
<%= presenter.show(:cc) %>
<%= presenter.show(:area) %>
<%= presenter.show(:prefix) %>
<%= presenter.show(:number) %>
<%= presenter.show(:locn, 'Location') %>
<%= presenter.show(:preferred) %>
<%= presenter.show(:txt_capable, 'Msg Capable') %>
<%= presenter.show(:note) %>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Person Detail', person_detail_path(@phone.person_id) %>
<% if false %> |
  <%= link_to 'List', phones_path %>
<% end %>
