<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @occupant.house_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @occupant.person_id %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @occupant.relation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @occupant.status %>
</p>

<p>
  <strong>Note:</strong>
  <%= @occupant.note %>
</p>

<%= link_to 'Edit', edit_occupant_path(@occupant) %> |
<%= link_to 'Back', occupants_path %>
