<h1>Position Detail</h1>

<% present(@position) do |position| %>
	<%= position.notice(notice) %>

	<%= position.show(:person_name, 'Person') %>
	<%= position.show(:name) %>
	<%= position.show(:date_range) %>
<% end %>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'List', positions_path %>
