<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @position.person_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @position.start %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @position.stop %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
