<%= render  partial: 'shared/subtable_header_bs',
            locals: { title: "Addresses:",
                      link_text1: nil,
                      path1: nil,
                      link_text2: nil,
                      path2: nil } %>

<table class='table table-sm table-bordered table-hover', id='addresses'>
  <thead class='thead-light'>
    <tr class='d-flex'>
      <th class='col-3'>Address</th>
      <th class='col-2'>Type</th>
      <th class='col-1'>Pref?</th>
      <th class='col-3'>Note</th>
      <th class='col-3'><%= link_to 'New Address', new_address_path(person_id: person.id) %></th>
    </tr>
  </thead>

  <tbody>
    <% person.addresses.each do |a| %>
      <% present(a) do |address| %>
        <tr class='d-flex'>
          <td class='col-3'><%= address.address %></td>
          <td class='col-2'><%= address.address_type %></td>
          <td class='col-1'><%= address.primary %></td>
          <td class='col-3'><%= address.note %></td>
          <td class='col-1'><%= link_to 'Show', address %></td>
          <td class='col-1'><%= link_to 'Edit', edit_address_path(address) %></td>
          <td class='col-1'><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
