<%= render  partial: 'shared/subtable_header_bs',
            locals: { title: "Addresses:",
                      link_text1: "New Address",
                      path1: new_address_path(person_id: @person.id),
                      link_text2: nil,
                      path2: nil } %>

<table class='table table-sm table-bordered table-hover', id='addresses'>>
  <thead class='thead-light'>
    <tr class='d-flex'>
      <th class='col-3'>Address</th>
      <th class='col-2'>Location</th>
      <th class='col-1'>Preferred</th>
      <th class='col-3'>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @person.addresses.each do |address| %>
      <tr class='d-flex'>
        <td class='col-3'><%= address.address %></td>
        <td class='col-2'><%= address.locn %></td>
        <td class='col-1'><%= address.preferred %></td>
        <td class='col-3'><%= address.note %></td>
        <td class='col-1'><%= link_to 'Show', address %></td>
        <td class='col-1'><%= link_to 'Edit', edit_address_path(address) %></td>
        <td class='col-1'><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
