<%= form_with(model: person, local: true) do |form| %>
  <% errors = Shared::ShowErrs.new(person) %>
  <% input = Shared::Inputs.new(form) %>

  <%= errors.show %>

  <%= input.row([:nickname]) %>

  <%= input.row([:first, :middle, :last]) %>

  <%= input.row([:suffix, :honorific]) %>

  <div class="form-row mb-3">
    <%= input.select(:house_id, House.for_select) %>

    <%= input.select(:role, Person.roles) %>

    <%= input.select(:status, Person.statuses) %>
  </div>

  <%= input.textarea(:note) %>

  <%= render  partial: 'shared/form_submit_bs',
              locals: { form: form , my_label: nil} %>

<% end %>
