<% presenter = Shared::Presenters.new(@person) %>

<%= presenter.show_in_row([:nickname]) %>
<%= presenter.show_in_row([:first, :middle, :last]) %>
<%= presenter.show_in_row([:suffix, :honorific, :role]) %>
<%= presenter.show_in_row([ [:house_address, 'House', 4],
                            [:status],
                            [:current_position, 'Position'] ]) %>

<div class="row">
  <div class="col-sm-8">
    <h5 class="bg-light">Preferred:</h5>
  </div>
</div>
<%= presenter.show_in_row([ [:preferred_email, 'Email', 3],
                            [:preferred_phone, 'Phone', 3],
                            [:preferred_address, 'Address'] ]) %>

<div class="row">
  <div class="col-sm">
    <%= render 'emails' %>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <%= render 'phones' %>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <%= render 'addresses' %>
  </div>
</div>

<%= presenter.show_in_row([:note]) %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'List', people_path %>
