<% presenter = Shared::Presenters.new(@person) %>

<%= presenter.show_in_row([:nickname]) %>
<%= presenter.show_in_row([:first, :middle, :last]) %>
<%= presenter.show_in_row([:suffix, :honorific]) %>
<%= presenter.show_in_row([:role, :status]) %>
<%= presenter.show_in_row([[:house_address, 'House']]) %>

<div class="row">
  <div class="col-sm">
    <%= render 'emails' %>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <%= render 'phones' %>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <%= render 'addresses' %>
  </div>
</div>

<%= presenter.show_in_row([:note]) %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'List', people_path %>
