<div class="row">
  <div class="col-sm">
    <p id="notice"><%= notice %></p>
  </div>
</div>


<div class="row">
  <div class="col-sm">
    <p>
      <strong>Nickname:</strong>
      <%= @person.nickname %>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-sm">
    <p>
      <strong>First:</strong>
      <%= @person.first %>
    </p>
  </div>

  <div class="col-sm">
    <p>
      <strong>Middle:</strong>
      <%= @person.middle %>
    </p>
  </div>

  <div class="col-sm">
    <p>
      <strong>Last:</strong>
      <%= @person.last %>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-sm-4">
    <p>
      <strong>Suffix:</strong>
      <%= @person.suffix %>
    </p>
  </div>

  <div class="col-sm-8">
    <p>
      <strong>Honorific:</strong>
      <%= @person.honorific %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <p>
      <strong>Role:</strong>
      <%= @person.role %>
    </p>
  </div>

  <div class="col-sm-8">
    <p>
      <strong>Status:</strong>
      <%= @person.status %>
    </p>
  </div>
</div>

<% if @person.house_id; then %>
  <div class="row">
    <div class="col-sm">
      <p>
        <strong>House:</strong>
        <%= @person.house.street_number %>
      </p>
    </div>
  </div>
<% end %>



<div class="row">
  <div class="col-sm">
    <%= render 'emails' %>
  </div>
</div>


<div class="row">
  <div class="col-sm">
    <%= render 'phones' %>
  </div>
</div>


<div class="row">
  <div class="col-sm">
    <%= render 'addresses' %>
  </div>
</div>


<div class="row">
  <div class="col-sm">
    <p>
      <strong>Note:</strong>
      <%= @person.note %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'List', people_path %>
