<h1>Person</h1>

<% presenter = Shared::Presenters.new(@person_data) %>

<%= presenter.notice(notice) %>

<%= presenter.show(:nickname) %>
<%= presenter.show(:first) %>
<%= presenter.show(:middle) %>
<%= presenter.show(:last) %>
<%= presenter.show(:suffix) %>
<%= presenter.show(:honorific) %>
<%= presenter.show(:note) %>
<%= presenter.show(:house_address, 'House') %>
<%= presenter.show(:role) %>
<%= presenter.show(:status) %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Person Detail', person_detail_path(@person) %> |
<%= link_to 'List', people_path %>
