<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @person.nickname %>
</p>

<p>
  <strong>First:</strong>
  <%= @person.first %>
</p>

<p>
  <strong>Middle:</strong>
  <%= @person.middle %>
</p>

<p>
  <strong>Last:</strong>
  <%= @person.last %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @person.suffix %>
</p>

<p>
  <strong>Honorific:</strong>
  <%= @person.honorific %>
</p>

<p>
  <strong>Note:</strong>
  <%= @person.note %>
</p>

<% if @person.house_id; then %>
  <p>
    <strong>House:</strong>
    <%= @person.house.street_number %>
  </p>
<% end %>

<p>
  <strong>Role:</strong>
  <%= @person.role %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Person Detail', person_detail_path(@person) %> |
<%= link_to 'List', people_path %>
