<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @owner.property.street_number %>
</p>

<p>
  <strong>Person:</strong>
  <%= @owner.person.fullname %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'House Detail', house_detail_path(@owner.house_id) %>
<% if false %> |
  <%= link_to 'List', owners_path %>
<% end %>
