<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @owner.house_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @owner.person_id %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
