<%= render  partial: 'shared/subtable_header_bs',
            locals: { title: "Contributions:",
                      link_text1: nil,
                      path1: nil,
                      link_text2: nil,
                      path2: nil } %>

<table class='table table-sm table-bordered table-hover', id='contributions'>
  <thead class='thead-light'>
    <tr>
      <th>Date paid</th>
      <th>Amount</th>
      <th class='col-3'><%= link_to 'New Contribution', new_contribution_path(house_id: house.id) %></th>
    </tr>
  </thead>

  <tbody>
    <% house.contributions.each do |c| %>
      <% present(c) do |contribution| %>
        <tr>
          <td><%= contribution.date_paid %></td>
          <td><%= contribution.amount %></td>
          <td><%= link_to 'Show', contribution %></td>
          <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
          <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
