<%= form_with(model: house, local: true) do |form| %>

  <%= render  partial: 'shared/errors',
              locals: { my_model: @house } %>

  <div class="row">
    <div class="field col-sm">
      <%= form.label :lot_id, "Lot" %>
      <%= form.collection_select :lot_id, Lot.order(:number), :id, :street_number, class: "custom-select" %>
    </div>

    <div class="field col-sm">
      <%= form.label :status %>
      <%= form.select :status, ["Occupied","Vacant","Construction"], selected: "Occupied" %>
    </div>

    <div class="field col-sm">
      <%= form.label :linked_lot_id, "Linked Lot" %>
      <%= form.collection_select :linked_lot_id, Lot.order(:number), :id, :street_number,{include_blank: ''} %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="field col-sm">
      <%= form.label :flag, "Member Flag Group" %>
      <%= form.check_box :flag %>
    </div>

    <div class="field col-sm">
      <%= form.label :rental, "Rental Property" %>
      <%= form.check_box :rental %>
    </div>

    <div class="field col-sm">
      <%= form.label :listed, "For Sale" %>
      <%= form.check_box :listed %>
    </div>
  </div>

  <div class="row mb-4 ml-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Note</span>
      </div>
      <%= form.text_area :note, class: 'form-control', 'aria-label': "With textarea" %>
    </div>
  </div>

  <%= render  partial: 'shared/form_submit_bs',
              locals: { form: form } %>

<% end %>
