<%= render  partial: 'shared/subtable_header_bs',
            locals: { title: "Owners:",
                      link_text1: nil,
                      path1: nil,
                      link_text2: nil,
                      path2: nil } %>

<table class='table table-sm table-bordered table-hover'>
  <thead class='thead-light'>
    <tr>
      <th>Owner</th>
      <th class='col-3'><%= link_to 'New Owner', new_ownership_path(house_id: house.id) %></th>
    </tr>
  </thead>

  <tbody>
    <% house.ownerships.each do |o| %>
      <% present(o) do |ownership| %>
        <tr>
          <td><%= ownership.owner_name %></td>
          <td><%= link_to 'Show', ownership %></td>
          <td><%= link_to 'Edit', edit_ownership_path(ownership) %></td>
          <td><%= link_to 'Destroy', ownership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
