<%= render  partial: 'shared/subtable_header_bs',
            locals: { title: "Owners:",
                      link_text: "New Owner",
                      path: new_owner_path(house_id: @house.id) } %>

<table class='table table-sm table-bordered table-hover'>
  <thead class='thead-light'>
    <tr>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @house.owners.each do |owner| %>
      <tr>
        <td><%= owner.person.fullname %></td>
        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
