<%= search_form_for @q do |f| %>
  <div class='row'>
    <div class="field col-sm-4">
      <%= f.label :flag_eq, 'Flag: ' %>
      <%= f.collection_radio_buttons :flag_eq, {'Yes' => true, 'No' => false, 'All' => nil}, :last, :first %>
    </div>

    <div class="field col-sm-4">
      <%= f.label :rental_eq, 'Rental: ' %>
      <%= f.collection_radio_buttons :rental_eq, {'Yes ' => true, 'No ' => false, 'All ' => nil}, :last, :first %>
    </div>

    <div class="field col-sm-4">
      <%= f.label :listed_eq, 'Listed: ' %>
      <%= f.collection_radio_buttons :listed_eq, {'Yes' => true, 'No' => false, 'All' => nil}, :last, :first %>
    </div>
  </div>

  <div class='row'>
    <div class='field col-sm-3'>
      <%= f.label :street, 'Street: ' %>
      <%= f.select(:street_eq, house.street_names, { include_blank: true }) %>
    </div>

    <div class='field col-sm-4'>
      <%= f.label :number, 'Number: ' %>
      <%= f.text_field(:number_eq) %>
    </div>

    <div class='field col-sm-3'>
      <%= f.label :status, 'Status: ' %>
      <%= f.select(:status_eq, house.statuses, { include_blank: true }) %>
    </div>

    <div class="field col-sm-2">
      <%= f.submit %>
    </div>
  </div>

<% end %>
</br>
