<% presenter = Shared::Presenters.new(@house) %>

<%= presenter.show_in_row([ [:house_address, 'House'],
                            [:linked_lot_id] ]) %>
<%= presenter.show_in_row([ [:lat, 'Latitude'],
                            [:lng, 'Longitude'],
                            [:image_link, 'Image Link'] ]) %>
<%= presenter.show_in_row([ [:flag, 'Member Flag Group'],
                            [:rental, 'Rental Property'],
                            [:listed, 'Listed For Sale'] ]) %>
<%= presenter.show_in_row([ :status ] ) %>

<div class="row">
  <div class="col-sm">
    <%= render 'occupants' %>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <%= render 'contributions' %>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <%= render 'ownerships' %>
  </div>
</div>

<%= presenter.show_in_row([ :note ]) %>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'List', houses_path %>
