<% present(@house) do |house| %>

  <h1><%= house.house_address %></h1>

  <%= house.show_row do %>
    <%= house.show :flag, 'center', 'Member Flag Group' %>
    <%= house.show :rental, 'center', 'Rental Property' %>
    <%= house.show :listed, 'center', 'Listed For Sale' %>
  <% end %>

  <%= house.show_row do %>
    <%= house.show :lat, 'center', 'Latitude' %>
    <%= house.show :lng, 'center', 'Longitude' %>
    <%= house.show :image_link, 'center', 'Image Link' %>
  <% end %>

  <%= house.show_row do %>
    <%= house.show :status %>
    <%= house.show :linked_lot_addresses, 'center', 'Linked Lots' %>
  <% end %>

  <div class="row">
    <div class="col-sm">
      <%= render 'occupants', house: @house %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <%= render 'contributions', house: @house %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <%= render 'ownerships', house: @house %>
    </div>
  </div>

  <%= house.show_row do %>
    <%= house.show :note %>
  <% end %>

<% end %>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'List', houses_path %>
