<p id="notice"><%= notice %></p>

<p>
  <strong>Street Number:</strong>
  <%= @house.street_number %>
</p>

<p>
  <strong>Linked lot:</strong>
  <%= @house.linked_lot_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @house.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @house.longitude %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @house.image_link %>
</p>

<p>
  <strong>Member Flag Group:</strong>
  <%= @house.flag %>
</p>

<p>
  <strong>Rental Property:</strong>
  <%= @house.rental %>
</p>

<p>
  <strong>Listed Sale:</strong>
  <%= @house.listed %>
</p>

<p>
  <strong>Status:</strong>
  <%= @house.status %>
</p>

<p>
  <strong>Note:</strong>
  <%= @house.note %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'House Detail', house_detail_path(@house) %> |
<%= link_to 'List', houses_path %>
