<h1>House</h1>

<% present(@house) do |house| %>
	<%= house.notice(notice) %>

	<%= house.show(:house_address, 'House Address') %>
	<%= house.show(:linked_lot_addresses, 'Linked Lots') %>
	<%= house.show(:lat, 'Latitude') %>
	<%= house.show(:lng, 'Longitude') %>
	<%= house.show(:image_link, 'Image Link') %>
	<%= house.show(:flag, 'Member Flag Group') %>
	<%= house.show(:rental, 'Rental Property') %>
	<%= house.show(:listed, 'Listed For Sale') %>
	<%= house.show(:status, 'Status') %>
	<%= house.show(:note, 'Note') %>
<% end %>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'House Detail', house_detail_path(@house) %> |
<%= link_to 'List', houses_path %>
