<%= form_with(model: person_email, local: true) do |form| %>
  <% if person_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_email.errors.count, "error") %> prohibited this person_email from being saved:</h2>

      <ul>
        <% person_email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id %>
  </div>

  <div class="field">
    <%= form.label :locn %>
    <%= form.text_field :locn %>
  </div>

  <div class="field">
    <%= form.label :preferred %>
    <%= form.text_field :preferred %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
