<%= form_for @registration do |form| %>
  <row class="row mb-4">
    <div class="field col-sm">
		  <%= form.label :house_id, "House" %>
      <%= form.collection_select :house_id, @houses.sort, :id, :house_address, {include_blank: true, class: "custom-select"} %>
		</div>
	</row>

  <row class="row mb-4">
    <div class="field col-sm">
		  <%= form.label :first %>
		  <%= form.text_field :first %>
		</div>

    <div class="field col-sm">
		  <%= form.label :middle %>
		  <%= form.text_field :middle %>
		</div>

    <div class="field col-sm">
		  <%= form.label :last %>
		  <%= form.text_field :last %>
		</div>
  </row>

  <row class="row mb-4">
    <div class="field col-sm">
      <%= form.label :nickname %>
      <%= form.text_field :nickname %>
    </div>

    <div class="field col-sm">
		  <%= form.label :role %>
		  <%= form.select :role, Person.roles, {include_blank: true, class: "custom-select"} %>
		</div>

    <div class="field col-sm">
		  <%= form.label :status %>
		  <%= form.select :status, Person.statuses, {include_blank: true, class: "custom-select"} %>
		</div>
  </row>

  <div class="row mb-4">
    <div class="actions col-sm">
      <%= form.submit %>
    </div>
  </div>

<% end %>
