<%= form_with(model: ownership, local: true) do |form| %>
  <% if ownership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ownership.errors.count, "error") %> prohibited this ownership from being saved:</h2>

      <ul>
        <% ownership.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :house_id %>
    <%= form.number_field :house_id %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.number_field :person_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
