<p id="notice"><%= notice %></p>

<h1>Ownerships</h1>

<table class='table table-sm table-bordered table-hover'>
  <thead class='thead-light'>
    <tr>
      <th>Property</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @ownerships.each do |o| %>
      <% present(o) do |ownership| %>
        <tr>
          <td><%= ownership.house_address %></td>
          <td><%= ownership.owner_name %></td>
          <td><%= link_to 'Show', ownership_path(ownership.id) %></td>
          <td><%= link_to 'Edit', edit_ownership_path(ownership.id) %></td>
          <td><%= link_to 'Destroy', ownership_path(ownership.id),
                                     method: :delete,
                                     data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>

<br>

<%= link_to 'New Ownership', new_ownership_path %>
