<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @ownership.house_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @ownership.person_id %>
</p>

<%= link_to 'Edit', edit_ownership_path(@ownership) %> |
<%= link_to 'Back', ownerships_path %>
