<h1>Ownership Detail</h1>

<% present(@ownership) do |ownership| %>
	<%= ownership.notice(notice) %>

	<%= ownership.show(:house_address, 'Property') %>
	<%= ownership.show(:owner_name, 'Owner') %>
<% end %>

<%= link_to 'Edit', edit_ownership_path(@ownership) %> |
<%= link_to 'House Detail', house_detail_path(@ownership.house_id) %> |
<%= link_to 'List', ownerships_path %>
