<h1>Ownership Detail</h1>

<% presenter = Shared::Presenters.new(@ownership) %>

<%= presenter.notice(notice) %>

<%= presenter.show(:house_address, 'Property') %>
<%= presenter.show(:owner_name, 'Owner') %>

<%= link_to 'Edit', edit_ownership_path(@ownership) %> |
<%= link_to 'House Detail', house_detail_path(@ownership.house_id) %> |
<%= link_to 'List', ownerships_path %>
