<%= form_with(model: contribution, local: true) do |form| %>

  <% if contribution.errors.any? %>
    <div class="row" id="error_explanation">
      <h2><%= pluralize(contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
        <% contribution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <row class="row mb-3">
    <div class="field col-sm">
      <%= form.label :house_id, "House" %>
      <%= form.collection_select :house_id, House.all, :id, :street_number, {include_blank: true, class: "custom-select"} %>
    </div>
  </row>


  <row class="row mb-3">
    <div class="field col-sm">
      <%= form.label :date_paid %>
      <%= form.date_select :date_paid %>
    </div>
  </row>


  <row class="row mb-3">
    <div class="field col-sm">
      <%= form.label :amount %>
      <%= form.text_field :amount %>
    </div>
  </row>


  <row class="row mb-4">
    <div class="actions">
      <%= form.submit %>
    </div>
  </row>

<% end %>
