<h1>Contribution Detail</h1>

<% presenter = Shared::Presenters.new(@contribution) %>

<%= presenter.notice(notice) %>

<%= presenter.show(:house_address, 'House') %>
<%= presenter.show(:date_paid) %>
<%= presenter.show(:amount) %>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'House Detail', house_detail_path(@contribution.house_id) %>
<% if false %> |
  <%= link_to 'List', contributions_path %>
<% end %>
