<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id, "Person" %>
    <%= form.collection_select :person_id, Person.all, :id, :fullname, {include_blank: true, class: "custom-select"} %>
  </div>

  <div class="field">
    <%= form.label :number, 'Number' %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :street, 'Street' %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :city, 'City' %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state, 'State' %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zip, 'Zip' %>
    <%= form.text_field :zip %>
  </div>

  <div class="field">
    <%= form.label :locn, 'Location' %>
    <%= form.text_field :locn %>
  </div>

  <div class="field">
    <%= form.label :preferred, 'Preferred' %>
    <%= form.text_field :preferred %>
  </div>

  <div class="field">
    <%= form.label :note, 'Note' %>
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
