<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @address.person.fullname %>
</p>

<p>
  <strong>Number:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @address.zip %>
</p>

<p>
  <strong>Location:</strong>
  <%= @address.locn %>
</p>

<p>
  <strong>Preferred:</strong>
  <%= @address.preferred %>
</p>

<p>
  <strong>Note:</strong>
  <%= @address.note %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
