<p id="notice"><%= notice %></p>

<h1>Lots</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Street</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Image link</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.number %></td>
        <td><%= lot.street %></td>
        <td><%= lot.latitude %></td>
        <td><%= lot.longitude %></td>
        <td><%= lot.image_link %></td>
        <td><%= lot.note %></td>
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path %>
