<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @lot.address_id %>
</p>

<p>
  <strong>Tad:</strong>
  <%= @lot.tad_id %>
</p>

<p>
  <strong>Google maps link:</strong>
  <%= @lot.google_maps_link %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @lot.image_link %>
</p>

<p>
  <strong>Note:</strong>
  <%= @lot.note %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
