<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @lot.number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @lot.street %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @lot.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @lot.longitude %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @lot.image_link %>
</p>

<p>
  <strong>Note:</strong>
  <%= @lot.note %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
