<%= form_with(model: email, local: true) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id, "Person" %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :addr, "Address" %>
    <%= form.text_field :addr %>
  </div>

  <div class="field">
    <%= form.label :locn, "Location" %>
    <%= form.text_field :locn %>
  </div>

  <div class="field">
    <%= form.label :preferred, "Preferred" %>
    <%= form.text_field :preferred %>
  </div>

  <div class="field">
    <%= form.label :note, "Note" %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
