<h1>Email Detail</h1>

<% presenter = Shared::Presenters.new(@email) %>

<%= presenter.notice(notice) %>

<%= presenter.show(:addressee) %>
<%= presenter.show(:addr, 'Address') %>
<%= presenter.show(:locn, 'Location') %>
<%= presenter.show(:preferred) %>
<%= presenter.show(:note) %>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Person Detail', person_detail_path(@email.person_id) %>
<% if false %> |
  <%= link_to 'List', emails_path %>
<% end %>
