<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @email.person.fullname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @email.addr %>
</p>

<p>
  <strong>Location:</strong>
  <%= @email.locn %>
</p>

<p>
  <strong>Preferred:</strong>
  <%= @email.preferred %>
</p>

<p>
  <strong>Note:</strong>
  <%= @email.note %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Person Detail', person_detail_path(@email.person_id) %>
<% if false %> |
  <%= link_to 'List', emails_path %>
<% end %>
