<h1>Homes</h1>

<table class='table table-sm table-borderless table-striped'>
  <thead class='thead-light'>
    <tr style='margin-bottom: 0rem;'>
      <th class='col-sm-4'>Address</th>
      <th class='col-sm-3'>Flag</th>
      <th class='col-sm-1'>Dues</th>
      <th class='col-sm-3'></th>
      <th class='col-sm-1'></th>
     </tr>
  </thead>
  <tbody>
    <% @homes.each do |home| %>
      <tr style='line-height: 1.25rem;'>
        <td><%= home.house_address %></td>
        <td>
          <% if home.flag %>
            <img src="../../US_flag.svg" width=25 height=13.5 class='img-responsive center-block' alt="flag" />
          <% else %>

          <% end %>
        </td>
        <td>
          <% if home.flag %>
            <img src="../../$.svg" width=13.5 height=13.5 class='img-responsive center-block' alt="dues" />
          <% else %>

          <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr bt-0>
        <td colspan='4' class='mp-0'>
          <table class='table table-borderless mx-0 mt-0 mb-1 p-0'>
            <tbody class='mp-0' style='font-size: 0.75rem;'>
              <% home.occupants.each do |occupant| %>
                <tr class=' table-light mp-0' style='line-height: 1;'>
                  <td class='col-sm-4 pl-3 pr-0'><%= occupant.fullname %></td>
                  <td class='col-sm-3 px-0'><%= occupant.preferred_phone %></td>
                  <td class='col-sm-3 px-0'><%= occupant.preferred_email %></td>
                  <td class='col-sm-2'></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%== pagy_bootstrap_nav(@pagy) %>
