<h1>User Detail</h1>

<% present(@user) do |user| %>
	<%= user.notice(notice) %>

	<%= user.show(:email) %>
	<%= user.show(:first_name) %>
	<%= user.show(:last_name) %>
	<%= user.show(:role) %>
	<%= user.show(:approved) %>
	<%= user.show(:sign_in_count) %>
	<%= user.show(:current_sign_in_at) %>
	<%= user.show(:current_sign_in_ip) %>
	<%= user.show(:created_at) %>
<% end %>

<%= link_to 'List', list_users_path %>
