<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WWNA</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex">

      <li class="nav-item p-2">
        <%= link_to "Register", new_registration_path %>
      </li>

      <li class="nav-item p-2">
        <%= link_to "People", people_path %>
      </li>

      <li class="nav-item p-2">
        <%= link_to 'Houses', houses_path %>
      </li>

      <li class="nav-item p-2">
        <%= link_to "Occupants", occupants_path %>
      </li>

      <li class="nav-item p-2">
        <%= link_to "Owners", owners_path %>
      </li>

      <li class="nav-item p-2">
        <%= link_to "Lots", lots_path %>
      </li>

      <li class="nav-item p-2">
        <%= link_to "Contributions", contributions_path %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="personLnks" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Person Links</a>
        <div class="dropdown-menu" aria-labelledby="personLnks">
          <a class="dropdown-item">
            <%= link_to "Addresses", addresses_path %>
          </a>
          <a class="dropdown-item">
            <%= link_to "Emails", emails_path %>
          </a>
          <a class="dropdown-item">
            <%= link_to "Phones", phones_path %>
          </a>
        </div>
      </li>

    </ul>
  </div>
</nav>
