<%= render "layouts/navbar_toggler" %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav d-flex">

    <li class="nav-item p-2">
      <%= link_to 'Houses', houses_path %>
    </li>

    <li class="nav-item p-2">
      <%= link_to "People", people_path %>
    </li>

    <li class="nav-item p-2">
      <%= link_to "Positions", positions_path %>
    </li>

    <%= render "layouts/property_dropdown" %>
    <%= render "layouts/person_dropdown" %>

  </ul>
</div>
